* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.div-1, .div-2 {
  height: 297px;
  background: rgba(123, 65, 65, 1);
}

.div-2 {
  margin-top: 26px;
}

body {
  padding: 70px 80px 0;
  min-height: 1024px;
}

@media screen and (max-width: 393px) {
  body {
    padding: 20px 19px 0px;
    min-height: 1551px;
  }

  .div-1, .div-2 {
    width: 167px;
    height: 297px;
    margin-top: 26px;
  }
}